<mat-card class="dog-card">
  <div class="image"
    [ngStyle]="{'background-image' : (thumbnailUrl$ | async) ? 'url('+(thumbnailUrl$ | async)+')' : 'none'}">
    <div class="detail">
      <h2>
        {{data.name}}
      </h2>
      <p>
        <label>Breed For</label>
        {{data.bred_for}}
      </p>
      @if (detaiPage) {
      <p>
        <label>Weight & Height</label>
        {{data.weight.metric}} & {{data.height.metric}}
      </p>
      <p>
        <label>Breed Group</label>
        {{data.breed_group}}
      </p>
      <p>
        <label>Temperament</label>
        {{data.temperament}}
      </p>
      <p>
        <label>Life Span</label>
        {{data.life_span}}
      </p>
      }
    </div>
  </div>
  <mat-card-actions>
    <button mat-fab aria-label="Dislike" (click)="onCardSwiped('left')">
      <mat-icon>close</mat-icon>
    </button>
    @if (!detaiPage) {
    <a mat-mini-fab color="null" aria-label="Info" [routerLink]="['/detail', data.id]">
      <mat-icon>info</mat-icon>
    </a>
    }

    <button mat-fab color="primary" aria-label="Like" (click)="onCardSwiped('right')">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>