:host {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.dog-card{ 
  height: 100%;
  width: 100%;
}

.image {
  flex: 1;
  background-color: #fff;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.detail {
  display: flex;
  margin-top: auto;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: start;
  margin: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}